* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, p {
    color: #4a4a4a;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28 px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
    font-weight: 300;
    line-height: 38px;
    padding: 8px 0;
}

p {
    font-size: 18px;
    font-weight: 300;
}

/* Utility classes */

.bold {
    font-weight: 700;
}

.light-grey {
    color: #cfcfcf;
}

/* Custom rules */


header {
    align-items: center;
    padding: 16px 24px;
}

header img {
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

header p {
    line-height: 18px;
    color: #4a4a4a;
}

/* Navigation bar */

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul p {
    padding-left: 16px;
}

ul a {
    line-height: 10px;
}

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        }
}

/* Banner */

.banner {
    background-color: #d8d8d8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banner img {
    width: 100%;
    height: auto;
}

.learn-new {
    margin: 32px 16px;
}

.learn-new h3 {
    margin: 32px 0 24px 0;
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 250px;
    max-width: 100%;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #9b9b9b;
}

@media only screen and (min-width: 768px) {
    .banner {
        padding: 32px 24px;
        flex-direction: row;
    }

    .banner img {
        width: 60%;
    }

    .learn-new {
        width: 40%;
    }

    button {
        background-color: #4a4a4a;
    }
}

/* Articles */

.articles {
    box-sizing: border-box;
    background-color: #f3f5f4;
}

.link {
    color: #4b7bc9;
}

.sub-art {
    display: flex;
    flex-direction: column;
}

.sub-article {
    padding: 16px 16px 32px 16px;
    display: flex;
    flex-direction: column;
}

.sub-article img {
    width: 100%;
}

.sub-article div {
    margin: 32px 16px;
    line-height: 30px;
}

@media only screen and (min-width: 768px) {
    .articles {
        display: flex;
    }

    .main-art {
        width: 60%;
        padding: 32px 24px;
        border: 1px solid #d8d8d8;
    }

    .main-article {  
        display: flex;
        flex-direction: column;
    }

    .main-article h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    } 

    .main-article img {
        width: 100%;
    }

    .caption {
        font-size: 16;
        padding-top: 32px;
    }

    .sub-art {
        width: 40%;
        box-sizing: border-box;
    }

    .sub-article picture {
        width: 35%;
        height: auto;
    }

    .sub-article div {
        width: 65%;
    }

    .sub-article {
        padding: 16px;
        flex-direction: row;
        border: 1px solid #d8d8d8;
    }

}

/* Start learning */

.learning {
    padding: 32px 16px;
    border: 1px solid #d8d8d8;
}

.learning h1 {
    text-align: center;
    padding-bottom: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    box-sizing: border-box;
    background-color: #d8d8d8;
    padding: 16px 16px 24px 16px;
    margin: 4px;
}

.card h3 {
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
        flex: 1 1 auto;
    }
}

@media only screen and (min-width: 768px) {
    .learning {
        padding: 32px 72px;
        background-color: #eaebed;
    }

    .learning h4 {
        text-transform: uppercase;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        background-color: white;
        padding: 0;
        margin: 16px;
        width: 320px;
        height: 340px;
    }
    
    .card img {
        width: 100%;
    }
  
    .card div {
        padding-left: 16px;
    }

    .card h3 {
        padding-top: 16px;
        padding-left: 16px;
    }

    .card p {
        line-height: 26px;
    }
}

/* Mobile-hidden */

@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

/* Desktop-hidden */

@media only screen and (min-width: 768px) {
    .desktop-hidden {
        display: none;
    }
}
